{% extends 'app.twig' %}

{% block content %}
    <div class="jumbotron col-md-6 text-center">
        <h4 class="display-4">Здравствуйте</h4>
        <hr>
        <p>На этой странице могла быть jQuery форма входа на сайт.
            Но в отклике я упоминал, что мне только предстоит изучить JavaScript.</p>
        <hr>
        <p>Надеюсь, здесь не все так плохо и с путями не будет проблем.
            К сожалению, завтра у меня не будет времени до 14:00 (мой дедлайн),
            поэтому выполняю ее прямо перед сном.</p>
        <hr>
        <p>Жду любой фидбек, даже в случае отказа (будет полезно знать свои слабые стороны)</p>
        <hr>
        <p>Моя почта, на всякий случай: <strong>funkylen@gmail.com</strong> :)</p>
    </div>
{% endblock %}