{% extends 'app.twig' %}

{% block content %}
    <form action="/speed" method="post" class="jumbotron col-md-6">

        <div class="form-group">
            <label for="speed">Перевод скорости из км/ч в м/c</label>
            <input type="text" class="form-control" id="speed" placeholder="км/ч" name="speed" required>
        </div>

        <button type="submit" class="btn btn-primary btn-block">Submit</button>
    </form>
{% endblock %}